.ce-group-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.ce-group-image.active {
  border: 2px solid #00b8b2;
}

.ce-group-image-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.group-image-caption {
  outline: none;
  border: none;
  color: #909090;
  display: block;
  font-size: 10pt;
  line-height: 15.5pt;
  text-align: center;
}

.group-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.group-image-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.group-image-single .group-image-item {
  width: 100%;
}

.group-image-group .group-image-item {
  height: auto;
}

.drag-over-left {
  border-left: 2px solid #00b8b2;
}

.drag-over-right {
  border-right: 2px solid #00b8b2;
}

.drag-over-bottom {
  border-bottom: 2px solid #00b8b2;
}

.drag-over-top {
  border-top: 2px solid #00b8b2;
}

.dropped {
  animation: scaleUp 0.2s ease-in-out;
  border: 2px solid #00b8b2;
}

@keyframes fadeInScale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.group-image-animate {
  animation: fadeInScale 0.5s ease forwards;
}
